
workDir = '.work'

params {
    // Total CPUs available to this workflow run.
    // Override with a fixed integer to run on a subset of the machine, e.g.:
    //   params.available_cpus = 16
    available_cpus = Runtime.runtime.availableProcessors()
}

docker.enabled = true
// apptainer.enabled = true

conda.enabled = true
// conda.useMicromamba = true